[dbdef]
dev = true
trace = false
base_path = './report_result'

[repository]
major_version = 11
url = "postgres://postgres:example@127.0.0.1:5432/db"
schemas_filter = '.*'
tables_filter = '.*'
views_filter = '.*'
functions_filter = '.*'
